/*Custom CSS Code*/
.centered{
  text-align: center;
  padding: 20px 30rem 50px 30rem;
}
.container{
  padding: 1rem 2rem 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  min-width: 9rem;
  width: auto;
  border: solid 13px rgba(0, 0, 0, 0.05);
  background-color: #FDEDEC;
}
.locationText{
  text-shadow: #FC0 1px 0 10px;
  font-weight: bold;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
